body {
    margin: 2em;
    font-size: 1.25em;
}

p {
    margin: 1em;
}

h3 {
    padding-top: 1em;
}

img {
    max-width: 100%;
    margin: 1em;
    width: 640px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 50%;
}

@media (max-width: 1000px) {
    .column {
        flex: 100%;
    }
}

iframe.drrt {
	width: 1px;
	min-width: 100%;
	height: 500px;
	border: none;
	scrolling: no;
}
